# example workflow for Black Duck SCA scans using the Black Duck Security Scan Action
# https://github.com/marketplace/actions/black-duck-security-scan
# https://documentation.blackduck.com/bundle/bridge/page/documentation/t_github-blackduck-quickstart.html
name: Black Duck SCA
on:
  push:
    branches: [ main, master, develop, stage, release ]
  pull_request:
    branches: [ main, master, develop, stage, release ]
  workflow_dispatch:
jobs:
  blackduck:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Source
      uses: actions/checkout@v6
    - name: Setup Java JDK
      uses: actions/setup-java@v5
      with:
        java-version: 25
        distribution: temurin
        cache: maven
    - name: Maven Build
      run: mvn -B -DskipTests package
    - name: Black Duck SCA Scan
      uses: blackduck-inc/black-duck-security-scan@v2
      env:
        #DETECT_PROJECT_NAME: ${{ github.event.repository.name }}
        DETECT_PROJECT_NAME: JB-webgoat-TEST
      with:
        blackducksca_url: ${{ vars.BLACKDUCK_URL }}
        blackducksca_token: ${{ secrets.BLACKDUCK_API_TOKEN }}
        blackducksca_scan_failure_severities: BLOCKER
        blackducksca_fixpr_enabled: false
        blackducksca_prComment_enabled: false
        blackducksca_reports_sarif_create: false
        blackducksca_upload_sarif_report: false
        github_token: ${{ secrets.GITHUB_TOKEN }}
        include_diagnostics: true
        detect_args: --detect.excluded.detector.types=GIT --detect.accuracy.required=NONE --detect.blackduck.signature.scanner.snippet.matching=SNIPPET_MATCHING
